@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.log_in{
  background-image: url(/image3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}

.register{
  background-image: url(/image3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.forget_password{
  background-image: url(/image3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}

.circle{
  height: 70vh;
  width: 70vh;
}

@media screen and (max-width: 600px) {
  .circle{
      height: 65vh;
      width: 50vh;
  }
}
