* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.main {
    height: auto;
}

.head {
    background-image: url(/images1.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: black;
}

/* login */
.log_in{
    background-image: url(/image3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 90vh;
}
.circle{
    height: 70vh;
    width: 70vh;
}

@media screen and (max-width: 600px) {
    .circle{
        height: 65vh;
        width: 50vh;
    }
}

/* career */
.careerImage{
    background: rgb(29, 75, 112) url(/career1.webp) ;
    background-size: cover;
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-position: center;
    height: 30vh;
}



