* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: auto;
}

.head {
    background: rgb(186, 211, 225) url(/frontimage1.jpg);
    background-blend-mode: overlay;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: black;
}

/* login */
/* .log_in{
    background-image: url(/image3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 90vh;
} */

/* .career::after{
    content: "";
    width: 100px;
    color: red;
    border: 10px solid;
    display: block;
    margin: auto;
} */




.contact-img{
    background: rgb(137, 193, 249) url(/contact1.jpg);
    background-blend-mode: overlay;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: black;
  }

/* Client project page*/
.project-div{
    width: 100%;
}

@media (min-width: 600px) {
    .project-div{
        width: 45%;
    }
    
}


@media (min-width: 1025px) {
    .project-div{
        width: 30%;
    }
}
